
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CarouselTest</title>
    <link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/style.css" rel="stylesheet">

    <!-- styles needed for carousel slider -->
    <link href="/assets/css/owl.carousel.css" rel="stylesheet">
    <link href="/assets/css/owl.theme.css" rel="stylesheet">
</head>
<body>
    <div> 
        <div class="col-sm-9 page-content col-thin-right">
            <div class="inner inner-box ads-details-wrapper">
                <h2>
                    Xperia™ C3 Dual available
                    <small class="label label-default adlistingtype">Company ad</small>
                </h2>
                <span class="info-row">
                    <span class="date"><i class=" icon-clock"> </i> Today 1:21 pm </span> - <span class="category">Electronics</span>- <span class="item-location">
                        <i class="fa fa-map-marker"></i> New York
                    </span>
                </span>

                <div class="ads-image">
                    <h1 class="pricetag"> $25</h1>
                    <ul class="bxslider">
                        <li><img src="~/images/item/tp/Image00006.jpg" alt="img" /></li>
                        <li><img src="~/images/item/tp/Image00008.jpg" alt="img" /></li>
                        <li><img src="~/images/item/tp/Image00003.jpg" alt="img" /></li>
                    </ul>
                    <div id="bx-pager">
                        <a class="thumb-item-link" data-slide-index="0" href="">
                            <img src="~/images/item/tp/Image00006.jpg" alt="img" />
                        </a>
                        <a class="thumb-item-link" data-slide-index="1" href="">
                            <img src="~/images/item/tp/Image00008.jpg" alt="img" />
                        </a>
                        <a class="thumb-item-link" data-slide-index="2" href="">
                            <img src="~/images/item/tp/Image00003.jpg" alt="img" />
                        </a>
                    </div>
                </div>
                <!--ads-image-->

                <div class="Ads-Details">
                    <h5 class="list-title"><strong>Ads Detsils</strong></h5>

                 
                </div>
            </div>
            <!--/.ads-details-wrapper-->

        </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>

    <!-- include carousel slider plugin  -->
    <script src="/assets/js/owl.carousel.min.js"></script>

    <!-- include equal height plugin  -->
    <script src="/assets/js/jquery.matchHeight-min.js"></script>

    <!-- include jquery list shorting plugin plugin  -->
    <script src="/assets/js/hideMaxListItem.js"></script>

    <!-- bxSlider Javascript file -->
    <script src="/assets/plugins/bxslider/jquery.bxslider.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.bxslider').bxSlider({
                pagerCustom: '#bx-pager'
            });

        })
 

    </script>
</body>
</html>
