
<footer id="tg-footer" class="tg-footer tg-haslayout">
    @*<div class="tg-footerbar">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-push-1 col-lg-10">
                    <div class="tg-newsletter">
                        <h2>Signup For Newsletter:</h2>
                        <form class="tg-formtheme tg-formnewsletter">
                            <fieldset>
                                <i class="icon-envelope"></i>
                                <input type="email" name="email" class="form-control" placeholder="Enter your email here">
                                <button type="button">Signup Now</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <div class="clearfix"></div>
    <div class="container">
        <div class="row">
            <div class="tg-footerinfo">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pull-right">
                    <div class="tg-widget tg-widgetsearchbylocations">
                        <div class="tg-widgettitle">
                            <h3>Search By Locations:</h3>
                        </div>
                        <div class="tg-widgetcontent">
                            <ul>
                                <li><a href="#">-  Aberdeen</a></li>
                                <li><a href="#">-  Armagh</a></li>
                                <li><a href="#">-  Bangor</a></li>
                                <li><a href="#">-  Bath</a></li>
                                <li><a href="#">-  Belfast</a></li>
                                <li><a href="#">-  Birmingham</a></li>
                                <li><a href="#">-  Bradford</a></li>
                                <li><a href="#">-  Brighton and Hove</a></li>
                                <li><a href="#">-  Bristol</a></li>
                                <li><a href="#">-  Cambridge</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">-  Canterbury</a></li>
                                <li><a href="#">-  Cardiff</a></li>
                                <li><a href="#">-  Carlisle</a></li>
                                <li><a href="#">-  Chester</a></li>
                                <li><a href="#">-  Chichester</a></li>
                                <li><a href="#">-  City of London</a></li>
                                <li><a href="#">-  Coventry</a></li>
                                <li><a href="#">-  Derby</a></li>
                                <li><a href="#">-  Dundee</a></li>
                                <li><a href="#">View All</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="tg-widget tg-widgettext">
                        <div class="tg-widgetcontent">
                            <strong class="tg-logo"><a href="#"><img src="~/images/logof.png" alt="image description"></a></strong>
                            <div class="tg-description">
                                <p>Guinea's Largest Online Market - Buy and Sell Items</p>
                            </div>
                            <div class="tg-followus">
                                <strong>Follow Us:</strong>
                                <ul class="tg-socialicons">
                                    <li class="tg-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li class="tg-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li class="tg-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li class="tg-googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li class="tg-rss"><a href="#"><i class="fa fa-rss"></i></a></li>
                                </ul>
                                <ul class="tg-appsnav">
                                    <li><a href="#"><img src="~/images/apps-01.png" alt="image description"></a></li>
                                    <li><a href="#"><img src="~/images/apps-02.png" alt="image description"></a></li>
                                </ul>
                            </div>
                            <nav class="tg-footernav">
                                <ul>
                                    <li><a href="#">Listing Policy</a></li>
                                    <li><a href="#">Terms of Use</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Mobiles Policy</a></li>
                                    <li><a href="#">Change Currency</a></li>
                                    <li><a href="#">Sitemap</a></li>
                                    <li><a href="#">News</a></li>
                                </ul>
                            </nav>
                            <span class="tg-copyright">@DateTime.Now.Year All Rights Reserved &copy; Online Market</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
