
<div class="tg-logingarea">
    <h2>Login Now</h2>
    <form class="tg-formtheme tg-formloging">
        <fieldset>
            <div class="form-group">
                <input type="text" name="username" class="form-control" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-group">
                <div class="tg-checkbox">
                    <input id="tg-rememberme" type="checkbox" name="rememberme" value="rememberme">
                    <label for="tg-rememberme">Keep me logged in</label>
                </div>
                <a class="tg-forgetpassword" href="javascript:void(0);">Forgot Password?</a>
            </div>
            <button class="tg-btn" type="button">Login</button>
        </fieldset>
    </form>
</div>
