<nav id="tg-nav" class="tg-nav">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
        <ul>
            <li><strong class="tg-logo"><a href="@Url.Action("Index", "Home")"><img src="~/images/logo.png" alt="company logo here"></a></strong></li>
        </ul>
    </div>
</nav>
