<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity" >
  <assembly name="OnlineMarket.Interface"></assembly>
  <assembly name="OnlineMarket.Services"></assembly>
  <assembly name="OnlineMarket.Repositories"></assembly>
  <assembly name="OnlineMarket.Common"></assembly>
  
  <container name="OnlineMarket">
    <!--BEGIN CATEGORY REGISTRATION-->
    <register type="OnlineMarket.Interface.Services.ICategoryService" mapTo="OnlineMarket.Services.CategoryService"></register>
    <register type="OnlineMarket.Interface.Repositories.ICategoryRepository" mapTo="OnlineMarket.Repositories.CategoryRepository"></register>

    <!--END CATEGORY REGISTRATION-->
    
  </container>
</unity>